<div class="container">
			<div class="row custom-page-header">
				<div class="col-md-3 col-sm-12 col-xs-12 margin-bottom-10px-sm">
					<h2>App Users</h2>
				</div>
				<form>
					<div class="col-md-2 col-sm-6 col-xs-12 padding-0px padding-left-15px-sm margin-bottom-10px-sm margin-bottom-10px-xs padding-right-15px-xs padding-left-15px-xs">
						<div class="form-group custom-select">
							<select class="form-control" ng-model="userSearch.filter_by_status" ng-options="status.title for status in statuses track by status.id">
							</select>
							<span><i class="icon-expand_less"></i><i class="icon-expand_more"></i></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-10px-sm margin-bottom-10px-xs">
						<div class="form-group custom-select">
							<select class="form-control" ng-model="userSearch.filter_by_type" ng-options="type.title for type in types track by type.id">
							  
							</select>
							<span><i class="icon-expand_less"></i><i class="icon-expand_more"></i></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-10 col-xs-12 padding-0px padding-left-15px-sm margin-bottom-10px-xs padding-right-15px-xs padding-left-15px-xs">
						<div class="form-group form-group-has-icon form-group-icon-left">
							<input type="text" ng-model="userSearch.filter_by_name" class="form-control" placeholder="Search by Name"s >
							<i class="icon-search"></i>
						</div>
					</div>
					<div class="col-md-1 col-sm-2 col-xs-12">
						<button href="javascript:;" ng-click="searchUser()" class="btn btn-block btn-success btn-filter"><span><i class="icon-arrow_forward"></i></span><div class="loader"></div></button>
					</div>
				</form>
			</div>
			<div class="row page-content">
				<div class="col-xs-12">
					<!-- <div class="" ng-show="(users.length < 1 && isLoading == false)? true:false">
		                 <div class="display-table">
		                    <div class="vertical-algin">
		                     <div class="bank-page-inner">
		                       <span class="blank-page-icon"><img ng-src="../images/emptystate.png"></span>
		                       <h3>No Users found</h3>
		                      </div>
		                    </div>
		                  </div>
                	</div> -->
					<div class="table-responsive custom-table table-has-user-img" ng-class="{'show-spinner': isLoading, 'show-data-empty':users.length < 1}">
					  	<table class="table table-bordered">
						    <thead>
						    	<tr>
						    		<th>USER</th>
						    		<th>JOIN DATE</th>
						    		<th>POSTS</th>
						    		<th>FOLLOWERS</th>
						    		<th>VIEWS</th>
						    		<th></th>
						    	</tr>
						    </thead>
						    <tbody>
						    	<!-- loader -->
						    	<tr class="table-data-loader text-center">
						    		<td colspan="6">
						    			<div class="table-data-holder">
						    				<div class="display-table">
						    					<div class="vertical-middle">
						    						<div class="loader loader-green"></div>
						    					</div>
						    				</div>
						    			</div>
						    		</td>
						    	</tr>
						    	<!-- no record found -->
						    	<tr class="table-data-empty text-center" ng-show="users.length <= 0 && isLoading ==false ">
						    		<td colspan="6">
						    			<div class="table-data-holder">
						    				<div class="display-table">
						    					<div class="vertical-middle">
						    						<div class="empty-img"><img src="images/empty-img.png"></div>
						    						<strong>No record found.</strong>
						    						<p>It seems like no record is added yet.</p>
						    					</div>
						    				</div>
						    			</div>
						    		</td>
						    	</tr>
						    	<!-- records -->
						    	<tr ng-repeat="user in users">
						    		<td>
						    			<span class="user-img"><img ng-show="user.profile_pic != null" src="{{user.image_urls['1x'] }}" class="img-circle" width="42" height="42"><img ng-show="user.profile_pic == null" src="images/user-placeholder.png" class="img-circle" width="42" ></span>
										<div class="user-content">	
											<a href="individual-photo.php" ui-sref="content({filter_by_user_id: user.id})" ui-sref-opts="{reload: true}" ng-class="{active: isActive('content')}">
												<strong class="semi-bold green">{{user.fullname}} </strong>
								    			<p class="dark-grey">{{user.email}}</p>
							    			</a>
						    			</div>
						    		</td>
						    		<td class="" ng-bind="formatDate(user.join_date)">{{user.join_date}}</td>
						    		<td><a href="individual-photo.php" ui-sref="content({filter_by_user_id: user.id})" ui-sref-opts="{reload: true}" ng-class="{active: isActive('content')}" class="text-underline green"><span class="green semi-bold">{{user.user_posts}}</span></a></td>
						    		<td>{{user.followers}}</td>
						    		<td>{{user.post_views}}</td>
						    		<td>
						    			<div class="checkbox custom-checkbox-1 user-block-action pull-right">
										    <label class="checked-unchecked">
												<i class="icon-not_interested {{user.visibility == 1 ? 'red' : 'green'}} " style="display:block" ng-click="showBlockConfirmation(user.id,$event,user.visibility)" ng-class="class"></i>
										    	<i class="icon-check_circle green " style="display:none"></i>
										    </label>
										</div>
						    		</td>
						    	</tr>
						    </tbody>
						</table>
					</div>
					
				</div>
				<!--  pagination -->
					<div paginate model="pagination" next-page="showNext" previous-page="showPrev" class="pagination"></div>
				<!--  end pagination -->
			</div>
		</div>	
		<!-- Delete confirmation -->
		<div class="modal fade white-bg-popup" id="userBlockConfirmation" tabindex="-1" role="dialog" aria-labelledby="disableAccountLabel">
		  <div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <i class="icon-close black bg-dark-grey close" data-dismiss="modal"></i>
		        <h4 class="modal-title" id="disableAccountLabel">Confirmation</h4>
		      </div>
		      <div class="modal-body text-center">
		        <p><strong>Are you sure you want to {{(block_visibility == 1)?'block':'unblock'}}  this account?</strong><br></p>
		      </div>
		      <div class="modal-footer" style="text-align:center ">
		        <button href="javascript:;" class="btn btn-success btn-back yes-btn user-confirmation-btn"
		         ng-class="{'show-spinner':show_spinner, 'prevent-click':prevent_click}" ng-click="setUserVisibility(block_user_id,block_event)">
		         <span>Yes</span><div class="loader"></div></button>

		        <a href="javascript:;" id="disableAccountBtn" class="btn btn-success btn-back user-confirmation-btn" data-dismiss="modal"><span>No</span><div class="loader"></div></a>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- Delete confirmation end-->