
<div class="errorPage">
	<div class="container">
		<div class="jumbotron text-center panel panel-default error-page-panel">
		  <h1>Not Found <br><small class="text-danger">Error 404</small></h1>
		  <br>
		  <p>It looks like you may have taken a wrong turn. Don't worry.</p>
            <a href="javascript:window.history.back();" class="btn btn-default btn-padd-lg error-page-btn"><i class="icon-keyboard_arrow_left"></i> Go Back</a>
		</div>
		<div class="login-log text-center">
		  <ul>
		    <li><img src="images/login-logo1.png" width="80"></li>
		    <li><img src="images/login-logo2.png" width="100"></li>
		    <li><img src="images/login-logo3.png" width="129"></li>
		  </ul>
		</div>
		<br>
	</div>
</div>
